.woocommerce{
    --minute-border-color: var(--hauptfarbe);
    --minute-selected-bgcolor: var(--hauptfarbe);
    
    .woocommerce-breadcrumb{
        display: none;
    }
    .woocommerce-product-gallery.images{
        margin-top: 12px;
    }

    .summary {
        /*Minutenanzeige*/
        .minute-grid { 
            display: flex; 
            flex-wrap: wrap; 
            gap:12px; 
            margin-bottom:10px; 

            .minute-button {
                padding:5px 10px; cursor:pointer; 
                min-width: 40px;
                background: transparent;
                border:1px solid var(--minute-border-color);
                border-radius: 5px;

                &.selected { 
                    background:var(--minute-selected-bgcolor); 
                    color:var(--colorMenuItem);
                }
                &[disabled] {
                    background:#ccc;
                    border-color:#ccc;
                    cursor:not-allowed;
                    text-decoration:line-through;
                }
                &:hover:not([disabled]) {
                    background:var(--linkfarbe);
                    color:var(--colorMenuItem);
                }
            }
        }
        
        .product_meta{
            display:none;
        }
    }
}