/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Quicksand/Quicksand-Light.ttf'); /* IE9 Compat Modes */
}
/* raleway-regular - latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Quicksand';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/Quicksand/Quicksand-Medium.ttf'); /* IE9 Compat Modes */
   }
   /* raleway-700 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Quicksand';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/Quicksand/Quicksand-Bold.ttf'); /* IE9 Compat Modes */
   }